* {
  padding-top: 100px;
  background-image: url(https://picsum.photos/1000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95.5%;
  height: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
